html {
  overflow: hidden;
}


#sidenav {
  width: 20%;
  padding: 2px;
  float: left;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
#content {
  width: 79%;
  padding: 2px;
  float: left;
}

#entries {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sn_sub_item {
}

.sn_label_anchor, .sn_sub_anchor {
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 5px;
}
.sn_label_anchor:hover, .sn_sub_anchor:hover {
  background-color: #F3F7FC;
}
.sn_sub_anchor {
  padding-left: 15px;
}

#sidenav ul, #sidenav li {
  display: none;
}
#sidenav .unread ul, #sidenav li.unread {
  display: block;
}
#sub-header {
  padding: 2px;
  background-color: #F3F7FC;
}
.sub-header-name {
  font-weight: bold;
}
