<!DOCTYPE html>
<html>
<head>
<title>Zaffen</title>

<!-- libs -->
<script src="/static/js/jquery.js"></script>
<!-- 
<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone.js"></script>
-->

<!-- client templating -->
<!-- 
<script src="/static/js/mustache.js"></script>
<script src="/static/js/ich.js"></script>
-->
<script src="/static/js/jquery.tmpl.js"></script>
<script src="/static/js/jquery.cookie.js"></script>

<!-- app -->
<script src="/static/js/app.js"></script>

<!-- css -->
<link href="/static/css/reset.css" type="text/css" rel="stylesheet"> 
<link href="/static/css/app.css" type="text/css" rel="stylesheet"> 

<!-- jquery.tmpl templates -->

<script id="main-tmpl" type="text/html">
  <div id="main">
    <ul id="sidenav">
      {{each(cat_id, category) categories}}
        {{tmpl({item: category, type: 'label', sub: sub, id: cat_id, current_sub_id: current_sub.id}) "#sidenav-item-tmpl"}}
      {{/each}}
    </ul>
    <div id="content">
      {{tmpl($data.current_sub) "#entry-list-tmpl"}}
    </div>
  </div>
</script>

<script id="entry-list-tmpl" type="text/html">
  {{tmpl($data) "#sub-header-tmpl"}}
  <div id="entries">
    {{tmpl($data) "#entries-tmpl"}}
  </div>
</script>

<script id="entries-tmpl" type="text/html">
  {{each(_idx, entry) items}}
    {{tmpl({entry_id: entry.index, entry: entry}) "#entry-list-item-tmpl"}}
  {{/each}}
</script>

<script id="entry-list-item-tmpl" type="text/html">
  <div id="entry-${entry_id}" class="entry" data-index="${entry_id}" data-id="${$data.entry.id}">
    <div class="entry-list-nav">
      <span class="entry-list-title">${entry.title}</span>
      <span class="entry-list-host">${entry.hostname}</span>
    </div>
    {{tmpl($data.entry) "#entry-tmpl"}}
  </div>
</script>

<script id="sub-header-tmpl" type="text/html">
  <div id="sub-header">
    <span class="sub-header-name">${name}</span>
  </div>
</script>

<script id="entry-tmpl" type="text/html">
  <div class="entry-body">
    <div class="entry-header">
      <a href="${alternate[0].href}" class="entry-heading" target="_blank">${title}</a>
      <span class="entry-header-host">${hostname}</span>
    </div>
  </div>
</script>

<script id="entry-content-tmpl" type="text/html">
  <div class="entry-content">{{if $data.content}}{{html $data.content.content}}{{else}}{{html $data.summary.content}}{{/if}}</div>
</script>

<script id="sidenav-item-tmpl" type="text/html">
  <li class="sn_${type}_item{{if $data.item.unread > 0}} unread{{/if}}{{if $data.current_sub_id == $data.id}} open{{/if}}">
    {{if type == 'label'}}
      {{if $data.current_sub_id == $data.id}}
        {{tmpl({type: 'close'}) "#sidenav-item-expand-icon-tmpl"}}
      {{else}}
        {{tmpl({type: 'open'}) "#sidenav-item-expand-icon-tmpl"}}
      {{/if}}
    {{/if}}
    <a class="sn_${type}_anchor{{if $data.current_sub_id == $data.id}} selected{{/if}}" href="/${$data.id}">{{if $data.item.name}}${$data.item.name}{{else}}${$data.item.title}{{/if}}{{if $data.item.unread > 0}} (${$data.item.unread}{{if $data.item.unread >= 1000}}+{{/if}}){{/if}}</a>
    {{if $data.item.subscriptions}}
      <ul class="sn_sub">
      {{each(idx,sub_id) $data.item.subscriptions}}
        {{tmpl({item: $data.sub[sub_id], type: 'sub', id: sub_id, current_sub_id: current_sub_id}) "#sidenav-item-tmpl"}}
      {{/each}}
      </ul>
    {{/if}}
  </li>
</script>

<script id="sidenav-item-expand-icon-tmpl" type="text/html">
  <span class="sidenav-expand-icon sidenav-expand-${type}-icon">[{{if $data.type == 'open'}}+{{else}}-{{/if}}]</span>
</script>

<script id="not-logged-in-tmpl" type="text/html">
  <p><a href="/login" class="login-link">Login</a></p>
</script>

</head>
<body></body>
</html>
